@if (showReport) {
<div class="form-report">
  <table>
    <thead>
      <th colspan="6" style="font-weight: bold">{{ formData.title }}</th>
    </thead>
    <tbody>
      <tr class="empty-row">
        <td colspan="6">&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label report-title">CLIENT</td>
        <td class="report-value report-title" colspan="3">
          {{ finalValues["client"] }}
        </td>
        <td class="report-label report-title">UNIT MANUFACTURER</td>
        <td class="report-value report-title">
          {{ finalValues["unit_manufacturer"] }}
        </td>
      </tr>
      <tr>
        <td class="report-label report-title">DATE</td>
        <td class="report-value report-title" colspan="3">
          {{ finalValues["date"] }}
        </td>
        <td class="report-label report-title">MODEL NUMBER</td>
        <td class="report-value report-title">
          {{ finalValues["model_number"] }}
        </td>
      </tr>
      <tr>
        <td class="report-label report-title">ENGINEER</td>
        <td class="report-value report-title" colspan="3">
          {{ finalValues["engineer"] }}
        </td>
        <td class="report-label report-title">SERIAL NUMBER</td>
        <td class="report-value report-title">
          {{ finalValues["serial_number"] }}
        </td>
      </tr>
      <tr class="empty-row">
        <td colspan="6">&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td
          align="center"
          colspan="6"
          style="font-weight: bold"
          class="report-title"
        >
          UNIT NUMBER 1
        </td>
      </tr>
      <tr class="empty-row">
        <td colspan="6">&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="report-title">SECTION 1: SYSTEM DETAILS</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td colspan="2" class="report-title">SECTION 2: ELECTRICAL CHECKS</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
      </tr>
      <tr class="empty-row">
        <td colspan="6">&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">SYSTEM TYPE</td>
        <td class="report-value">{{ finalValues["system_type"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">COMPRESSOR FLA</td>
        <td class="report-value">{{ finalValues["compressor_fla"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">AIR/WATER COOLED?</td>
        <td class="report-value">{{ finalValues["air_water_cooled"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">COMPRESSORR RUN AMPS</td>
        <td class="report-value">{{ finalValues["compressor_run_namps"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">TEMPERATURE SETPOINT</td>
        <td class="report-value">{{ finalValues["temperature_set_point"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">MAIN FAN FLA</td>
        <td class="report-value">{{ finalValues["main_fan_fla"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">DEAD BAND</td>
        <td class="report-value">{{ finalValues[""] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">MAIN FAN RUN AMPS</td>
        <td class="report-value">{{ finalValues["main_fan_run_amps"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">HUMIDITY SETPOINT</td>
        <td class="report-value">{{ finalValues["humidity_setpoint"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HUMIDIFIER FLA</td>
        <td class="report-value">{{ finalValues["humidifier_fla"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">DEAD BAND</td>
        <td class="report-value">{{ finalValues["dead_band_1"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HUMIDIFIER RUN AMPS</td>
        <td class="report-value">{{ finalValues["humidifier_run_amps"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">HUMIDIFIER TYPE</td>
        <td class="report-value">{{ finalValues["humidifier_type"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HEATER 1 FLA</td>
        <td class="report-value">{{ finalValues["heater_1_fla"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">HUMIDIFIER CONDITION</td>
        <td class="report-value">{{ finalValues["humidifier_condition"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HEATER 1 RUN AMPS</td>
        <td class="report-value">{{ finalValues["heater_1_run_amps"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">ROOM TEMPERATURE</td>
        <td class="report-value">{{ finalValues["room_temperature"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HEATER 2 FLA</td>
        <td class="report-value">{{ finalValues["heater_2_fla"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">ROOM HUMIDITY</td>
        <td class="report-value">{{ finalValues["room_humidity"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HEATER 2 RUN AMPS</td>
        <td class="report-value">{{ finalValues["heater_2_run_amps"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">GENERAL CASING CONDITION</td>
        <td class="report-value">
          {{ finalValues["general_casing_condition"] }}
        </td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HEATER 3 FLA</td>
        <td class="report-value">{{ finalValues["heater_3_fla"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">ELECTRICAL CONDITION</td>
        <td class="report-value">{{ finalValues["electrical_condition"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">HEATER 3 RUN AMPS</td>
        <td class="report-value">{{ finalValues["heater_3_run_amps"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr class="empty-row">
        <td colspan="6">&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="report-title">
          SECTION 3: REFRIGERATION CIRCUIT CHECKS
        </td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td colspan="2" class="report-title">SECTION 4: MECHANICAL CHECKS</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
      </tr>
      <tr class="empty-row">
        <td colspan="6">&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">GAS TYPE</td>
        <td class="report-value">{{ finalValues["gas_type"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">MAIN FAN VEE BELTS</td>
        <td class="report-value">{{ finalValues["main_fan_vee_belts"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">SUCTION PRESSURE</td>
        <td class="report-value">{{ finalValues["suction_pressure"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">DRIVE PACKAGE ALIGNMENT</td>
        <td class="report-value">
          {{ finalValues["drive_package_alignment"] }}
        </td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">SUCTION TEMPERATURE</td>
        <td class="report-value">{{ finalValues["suction_temperature"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">GREASE BEARINGS</td>
        <td class="report-value">{{ finalValues["grease_bearings"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">DISCHARGE PRESSURE</td>
        <td class="report-value">{{ finalValues["discharge_pressure"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">INDOOR AIR FILTERS</td>
        <td class="report-value">{{ finalValues["indoor_air_filters"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">DISCHARGE TEMPERATURE</td>
        <td class="report-value">{{ finalValues["discharge_temperature"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">COMPRESSOR OIL LEVELS</td>
        <td class="report-value">{{ finalValues["compressor_oil_levels"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">LIQUID LINE TEMPERATURE</td>
        <td class="report-value">
          {{ finalValues["liquid_line_temperature"] }}
        </td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">COMPRESSOR MOUNTINGS</td>
        <td class="report-value">{{ finalValues["compressor_mountings"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">SIGHT GLASS STATE</td>
        <td class="report-value">{{ finalValues["sight_glass_state"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">GENERAL BRACKETING</td>
        <td class="report-value">{{ finalValues["general_bracketing"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">OUTSIDE AMBIENT TEMP</td>
        <td class="report-value">{{ finalValues["outside_ambient_temp"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">EVAP COIL CONDITION</td>
        <td class="report-value">{{ finalValues["evap_coil_condition"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">AIR OFF COND</td>
        <td class="report-value">{{ finalValues["air_off_cond"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">PIPERWORK CONDITION</td>
        <td class="report-value">{{ finalValues["pipework_condition"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">AIR ON COND</td>
        <td class="report-value">{{ finalValues["air_on_cond"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">ALARMS CLEARED</td>
        <td class="report-value">{{ finalValues["alarms_cleared"] }}</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">NO OF COND FANS</td>
        <td class="report-value">{{ finalValues["no_of_cond_fans"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">CLEAN OUT INTERIOR SECTIONS</td>
        <td class="report-value">
          {{ finalValues["clean_out_interiors_sections"] }}
        </td>
        <td>&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td class="report-label">COND FANS RUN AMP</td>
        <td class="report-value">{{ finalValues["cond_fans_run_amps"] }}</td>
        <td class="empty-column">&nbsp; &nbsp;</td>
        <td class="report-label">CLEAN AROUND COND SECTION</td>
        <td class="report-value">
          {{ finalValues["clean_around_cond_section"] }}
        </td>
        <td>&nbsp; &nbsp;</td>
      </tr>

      <tr class="empty-row">
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6" align="center" style="font-weight: bold">
          GENERAL NOTES
        </td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>

      <tr>
        <td colspan="6">&nbsp; &nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp; &nbsp;</td>
        <td colspan="2">&nbsp; &nbsp;</td>
        <td>&nbsp; &nbsp;</td>
        <td>&nbsp; &nbsp;</td>
        <td>&nbsp; &nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
} @else {
<form-stepper [title]="formData.title" #stepper>
  <div class="form-step-content" ngProjectAs="form-content">
    @if (formData.steps && formData.steps.length > 0) { @for (step of
    formData.steps; track i; let i = $index) {
    <form-step [title]="step.title" [formGroup]="formGroups[i]" [index]="i">
      <form [formGroup]="formGroups[i]">
        @for (control of step.controls; track cIndex; let cIndex = $index) {
        <form-control-type
          [control]="control"
          [fgControl]="formGroups[i].controls[control.id]"
        >
        </form-control-type>
        }
      </form>
    </form-step>
    } }
  </div>

  <form-stepper-footer>
    <button
      type="button"
      class="btn-previous"
      (click)="onAction('previous')"
      [attr.disabled]="stepper.selectedStepIndex === 0 ? '' : null"
    >
      Previous
    </button>
    @if (stepper.selectedStepIndex < 4) {
    <button
      type="button"
      class="btn-next"
      (click)="onAction('next')"
      [attr.disabled]="
        formGroups[stepper.selectedStepIndex].valid === false ? '' : null
      "
    >
      Next
    </button>
    } @if (stepper.selectedStepIndex === 4) {
    <button
      type="button"
      class="btn-complete"
      (click)="onAction('complete')"
      [attr.disabled]="
        formGroups[stepper.selectedStepIndex].valid === false ? '' : null
      "
    >
      Generate Report
    </button>
    }
  </form-stepper-footer>
</form-stepper>

}
