<div class="form-control" [ngClass]="{'error': (fgControl.dirty && !fgControl.valid) || (fgControl.touched && !fgControl.valid) }">
  <label [for]="control.id">{{ control.label }}</label>
  @if (control.type === controlTypes.Text) {
    <input
        type="text"
        [formControl]="fgControl"
        [id]="control.id"
        [name]="control.id"
        [attr.required]="control.required ? '' : null"
    />
  } @else if (control.type === controlTypes.Date) {
    <input
        type="date"
        [formControl]="fgControl"
        [id]="control.id"
        [name]="control.id"
        [attr.required]="control.required ? '' : null"
    />
  }
</div>
